<div class="flex flex-col gap-8 px-8">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-[22px]">Visual Display:</h1>
    <button class="rounded-md px-4 py-2 bg-blue-400" routerLink="/home">
      back
    </button>
  </div>
  <div class="flex gap-10 flex-wrap pt-6">
    @if(genderData.title.length > 0) {<app-bar-chart
      [genderData]="genderData"
    ></app-bar-chart
    >} @if(ageGroupCounts.length>0){

    <app-pie-chart [ageGroupCounts]="ageGroupCounts"></app-pie-chart>
    } @if(logCountData.length>0){

    <app-donut-chart [logCountData]="logCountData"></app-donut-chart>
    }
  </div>
</div>
