<div class="w-[460px] shadow-lg rounded-md p-3 flex flex-col gap-4">
  <h1 class="my-2 text-[24px] font-bold">Register Form:</h1>
  <form
    [formGroup]="registerForm"
    (ngSubmit)="registerUser()"
    class="flex flex-col gap-3"
  >
    <div class="flex flex-col gap-3">
      <label for="username">Username</label>
      <input
        type="text"
        formControlName="username"
        class="w-full border py-2 px-1"
        name="username"
        placeholder="Type your email"
      />
      @if(username.invalid && (username.dirty || username.touched)) {<small
        class="block text-red-400"
      >
        @if(username.errors?.['required']){
        <div>Username is required.</div>
        }</small
      >}
    </div>
    <div class="flex flex-col gap-3">
      <label for="address">Address</label>
      <input
        type="text"
        formControlName="address"
        class="w-full border py-2 px-1"
        name="address"
        placeholder="Type your email"
      />
      @if(address.invalid && (address.dirty || address.touched)) {<small
        class="block text-red-400"
      >
        @if(address.errors?.['required']){
        <div>Address is required.</div>
        }</small
      >}
    </div>
    <div class="flex flex-col gap-3">
      <label for="email">Email</label>
      <input
        type="text"
        formControlName="email"
        class="w-full border py-2 px-1"
        name="email"
        placeholder="Type your email"
      />
      @if(email.invalid && (email.dirty || email.touched)) {<small
        class="block text-red-400"
      >
        @if(email.errors?.['required']){
        <div>Email is required.</div>
        } @if(email.errors?.['email']){
        <div>Email should be valid.</div>
        } </small
      >}
    </div>
    <div class="flex flex-col gap-3">
      <label for="password">Password</label>
      <input
        type="password"
        formControlName="password"
        class="w-full border py-2 px-1"
        name="password"
        placeholder="Type your password"
      />
      @if (password.invalid && (password.dirty || password.touched)) {
      <small class="block text-red-400">
        @if(password.errors?.['required']){

        <div>Password is required.</div>
        }
      </small>
      }
    </div>
    <div class="flex flex-col gap-3">
      <label for="confirmpassword">Confirm Password</label>
      <input
        type="password"
        formControlName="confirmPassword"
        class="w-full border py-2 px-1"
        name="confirmPassword"
        placeholder="confirm password"
      />
      @if ( confirmPassword.invalid && (confirmPassword.dirty ||
      confirmPassword.touched)) {
      <small class="block text-red-400">
        @if(confirmPassword.errors?.['required']){

        <div>Password is required.</div>
        }
      </small>
      } @if(registerForm.errors?.['passwordMismatch'] && confirmPassword.valid
      && password.valid){
      <small class="block text-red-400"> Password should match </small>
      }
    </div>
    <div class="flex flex-col gap-3">
      <label for="profileImage">Profile Image</label>
      <input
        type="file"
        (change)="onFileChange($event)"
        class="w-full border py-2 px-1"
        name="profileImage"
        accept="image/*"
      />
    </div>
    <button
      type="submit"
      [disabled]="registerForm.invalid"
      class="bg-blue-400 rounded-md py-3 font-semibold w-full my-2"
    >
      Register
    </button>

    @if(imgSrc){<img
      src="{{ imgSrc }}"
      alt="user image"
      class="object-cover w-[130px] h-[200px]"
    />}
  </form>
  @if(userExist){
  <small class="text-red-400">User email already exist!</small>
  } @if(imageNotSelected){
  <small class="text-red-400">Please upload an Image!</small>
  }
  <div class="mt-2">
    Already a member?
    <a routerLink="/login" class="hover:text-blue-400 hover:cursor-pointer"
      ><u>Login</u></a
    >
  </div>
</div>
