<h1>Home Page:</h1>
<div class="min-w-[580px] shadow-lg rounded-md p-3 flex flex-col gap-2">
  <h1 class="font-bold text-[22px]">User List:</h1>
  <div class="mx-auto w-full my-2 space-y-9 overflow-x-auto h-[500px]">
    <table class="mt-4 w-full min-w-max table-auto text-left">
      <thead class="sticky top-0 z-[999] bg-gray-400">
        <tr>
          <th>S.N.</th>
          <th>Email</th>
          <th>View Details</th>
        </tr>
      </thead>
      <tbody>
        @for(user of userList; track $index){
        <tr class="border-b-2 text-center">
          <td class="p-2 m-1">{{ $index + 1 }}</td>
          <td class="p-2 m-1">{{ user.email }}</td>
          <td class="p-2 m-1">
            <i
              class="pi pi-eye"
              style="color: green; font-size: 20px; cursor: pointer"
              routerLink="/detail/{{ user.id }}"
              title="view details"
            ></i>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <a
    class="bg-blue-400 rounded-md py-3 font-semibold w-full my-2 px-1 hover:cursor-pointer text-center"
    routerLink="/login"
  >
    Back to Login
  </a>
</div>
